h1 {
    text-align: center;
}

.container {
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
}

.marker {
    height: 25px;
    width: 400px;
    margin: 15px auto;
}

.red {
    background: linear-gradient(180deg, rgb(92, 6, 6), rgb(255, 0, 0), rgb(66, 4, 4));
}
.green {
    background: linear-gradient(180deg, #066604, #04fa00, #054a04);
}
.blue {
    background-color: hsl(240, 100%, 50%);
}