h1 {
    text-align: center;
}

.container {
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
}

.marker {
    height: 25px;
    width: 400px;
    margin: 15px auto;
}

.red {
    background: linear-gradient(180deg, rgb(18, 87, 10) 0%, rgb(0, 255, 0) 50%, rgb(10, 48, 5) 100%);
}
.green {
    background-color: #007f00;
}
.blue {
    background-color: hsl(240, 100%, 50%);
}