h1 {
    text-align: center;
}

.container {
    background-color: rgb(0, 0, 0);
}

.marker {
    height: 25px;
    width: 400px;
    margin: 15px auto;
}

.one {
    background-color: red;
}
.two {
    background-color: green;
}
.three{
    background-color: blue;
}